

.home {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20vh;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.left {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.left .title {
  color: #2d2e32;
  font-size: 6vh;
  line-height: 1.2;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: justify;
  text-justify: inter-word;
}

.left .sub_title {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 3vh;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  text-align: justify;
  text-justify: inter-word;
}
.profile_img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 40vh;
  position: relative;
  transition: all 1s ease-in-out;
  width: 40vh;
  background-color: #8e8e8e;
  border-radius: 20px;
  animation: morph 8s ease-in-out infinite;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}


.bottom .bottom_right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.bottom .bottom_right .stack {
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.bottom .bottom_right .stack:hover {
  transform: translateY(-10px);
}

.bottom_left {
 margin: 2vh;
 border-right: 2px solid rgba(45, 46, 50, 0.5);
}
.bottom_left .skills {
  padding: 1vh;
  color: #2d2e32;
  font-size: 4vh;
  font-family: Mulish, sans-serif;
  font-weight: bold;
  color: #767676;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@media (max-width: 1000px) {
  .home {
    top: 20vh;
    width: 100%;
  }
  .content-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .bottom {
    flex-direction: column;
  }

  .bottom_left  {
    border-right: none;
  }
}

@media (max-width: 700px) {
  .home {
    top: 20vh;
    width: 100%;
  }

  .left .title {
    width: 60vh;
  }

  .left .sub_title {
    width: 60vh;
  }
}

@media (max-width: 550px) {
  .home {
    top: 20vh;
    width: 100%;
    margin-left: 10vh;
    justify-content: center;
    align-items: center;
  }

  .bottom {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .home {
    top: 20vh;
    margin-left: 15vh;
  }
}

@media (max-width: 350px) {
  .home {
    top: 10vh;
    margin-left: 20vh;
  }

  .bottom .bottom_right {
    width: auto;
  }

  .left {
    width: 80%;
  }

  .bottom .bottom_right {
    width: 100%;
  }


}

@media (max-width: 260px) {
 .home {
  margin-left: 25vh;
 }
}