.projects {
    position: relative;
    top:25vh;
    width: 100%;
    height: auto;
    
}

.projects .container {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}

.top {
    display: flex;
    flex-direction: column;
}

.top .title {
    color: #147efb;
    font-size: 4vh;
    font-weight: 700;
    margin-bottom: 3vh;
    text-transform: uppercase;
    
}

.top .sub_title {
    color: #2d2e32;
    font-size: 3vh;
    width: 100%;
}

.projects_card {
    display: flex;
    flex-direction: column;

    height: auto;
    justify-content: center;
    align-items: center;
}

.projects_card .card {
    background-color: #fff;
    border-radius: 5vh;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 4vh;
    margin: 10vh;
}

.projects_card .card_img {
    width: 60vh;
    height: 40vh;
    border: none;
    border-radius: 4vh;
    box-shadow: 0 0 10px rgba(0,0,0, 1);
    margin: 1vh;
    
}

.projects_card  .right p {
    display: flex;
    flex-direction: column;
    width: 50vh;
    justify-content: center;
    align-items: center;
    
}

.right .card_btns {
    display: flex;
    align-items: center;
}

.right .skill_btn button {
    margin: 2vh;
}

.card .card_title {
    align-items: center;
    color: #2d2e32;
    display: flex;
    font-size: 5vh;
    gap: 0.2rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
    text-transform: uppercase;
}

.card .card_description {
    color: #767676;
    font-size: 2.5vh;
    font-weight: 500;
    text-align: center;
    text-transform: none;
}

.right .card_btns  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 950px) {
    .card {
        flex-direction: column;
    }

}

@media (max-width: 900px) {
   .projects {
    top: 25vh
   }
}


 @media (max-width: 550px) {
    .projects {
     top: 30vh;
     padding: 5vh;
    }

    .top {
        width:"80vh"
    }
    
    .projects_card  {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .projects_card .card {
        margin-left: 20vh;
        margin-top: 5vh;
    }
 }
 
 @media (max-width: 450px) {
    .projects {
     top: 40vh;
     width: 100%;
     padding: 5vh;
    }

    .projects_card .card {
        margin-left: 30vh !important;
    }

    .top {
        margin-left: 20vh !important;
    }

    .top .sub_title {
        width: 70vh !important;

    }
 }

 @media (max-width: 400px) {
    .projects {
     top: 40vh;
     width: 100%;
     padding: 5vh;
    }

    .projects_card .card {
        margin-left: 35vh !important;
    }
 }

 @media (max-width: 350px) {
    .projects {
     top: 40vh;
     width: 100%;
     padding: 5vh;
    }

    .projects_card .card {
        margin-left: 50vh !important;
    }

    .top {
        margin-left: 35vh !important;
    }

    .top .sub_title {
        width: 80vh !important;

    }
 }
 
 @media (max-width: 300px) {
    .projects_card {
        margin-left: 10vh;
    }

    .top {
        margin-left: 45vh !important;
    }

    .top .sub_title {
        width: 80vh !important;

    }
 }
 

