@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Khula:wght@800&family=Poppins:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;

  }
